include ../_mixins.pug

section.section.about
	.container
		.about-card
			img.about-card__img(src="/assets/img/about-img-01.png", alt="")
			.about-content
				.about-content__header
					.about-content-info
						img(src="/assets/img/icon-chats.svg", alt="")
						| Запишитесь сейчас и получите бесплатную консультацию!
					p.about-content__title
						img(src="/assets/img/logo-mark.svg", alt="")
						| Наша стоматологическая клиника предлагает широкий спектр услуг
				.about-content__body
					p.about-content__text Благодаря современным технологиям, многолетней практике и бесценным знаниям наши стоматологи могут справиться с любой проблемой полости рта.
					p.about-content__text Мы стараемся добиваться лучших результатов во благо Вашего здоровья, чтобы каждый свой день Вы начинали с ослепительной улыбки!
					button.about-content__button.button.button--dark Записаться на прием
				.about-content__footer
					a(href="#").contact
						.contact__icon
							img(src="/assets/img/gradient-icon-phone.svg")
						.contact__column
							p.contact__title +7 (495) 374 92 82
							p.contact__subtitle Каждый день с 9:00 до 21:00
					.about-content__footer-row
						a.about-content__social(href="#")
							img(src="/assets/img/gradient-icon-whatsapp.svg", alt="")
						a.about-content__social(href="#")
							img(src="/assets/img/gradient-icon-telegram.svg", alt="")
