include ../_mixins.pug

section.section.article-content
	.container
		.article-content-navigation
			p.article-content-navigation__title О чем статья
			nav.article-content-navigation__column
				ul.article-content-navigation__list
					li.article-content-navigation__link
						a(href="#") Корень
					li.article-content-navigation__link
						a(href="#") Корень
					ul.article-content-navigation__list
						li.article-content-navigation__link
							a(href="#") Корень
						li.article-content-navigation__link
							a(href="#") Корень
						li.article-content-navigation__link
							a(href="#") Корень
				ul.article-content-navigation__list
					li.article-content-navigation__link
						a(href="#") Корень
					li.article-content-navigation__link
						a(href="#") Корень
		.article-content-content
			//- Чистый HTML из wysiwyg
			h1 Корень
			h2 Протоколы имплантации после удаления зуба
			p С единичной потерей зубов, сталкиваются многие. Это может происходить в силу возрастных изменений или по причине других факторов. Имплантация — хорошо зарекомендованный способ восстановления зубного ряда, который прошёл проверку временем.
			figure
				img(src="/assets/img/article-img-01.png", alt="")
				figcaption Изображение 1. Корень зуба
			h2 Протоколы имплантации после удаления зуба
			p С единичной потерей зубов, сталкиваются многие. Это может происходить в силу возрастных изменений или по причине других факторов. Имплантация — хорошо зарекомендованный способ восстановления зубного ряда, который прошёл проверку временем.
			ul
				li удалить зуб;
				li установить искусственный корень в образовавшуюся лунку;
				li провести немедленную нагрузку импланта временной ортопедической конструкцией (не все методы имплантации позволяют провести немедленную нагрузку).
				li удалить зуб;
			p С единичной потерей зубов, сталкиваются многие. Это может происходить в силу возрастных изменений или по причине других факторов. Имплантация — хорошо зарекомендованный способ восстановления зубного ряда, который прошёл проверку временем.
			p С единичной потерей зубов, сталкиваются многие. Это может происходить в силу возрастных изменений или по причине других факторов. Имплантация — хорошо зарекомендованный способ восстановления зубного ряда, который прошёл проверку временем.
			figure
				img(src="/assets/img/article-img-01.png", alt="")
				figcaption Изображение 1. Корень зуба
			p С единичной потерей зубов, сталкиваются многие. Это может происходить в силу возрастных изменений или по причине других факторов. Имплантация — хорошо зарекомендованный способ восстановления зубного ряда, который прошёл проверку временем.
