include ../_mixins.pug

section.section.callback
	.container
		.callback-form
			.callback-form__column
				.callback-form__header
					p.callback-form__title Заказать обратный звонок
					p.callback-form__subtitle Наш сотрудник ответит вам в ближайшее время
				form.form#formCallback
					.form__group
						.form__inputs
							input(type="text" placeholder="Имя").input
							input(type="tel" placeholder="+7 (___) ___ - __ - __").input
						label.checkbox
							input.checkbox__input(type="checkbox")
							.checkbox__box
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 16.4L6 12.4L7.4 11L10 13.6L16.6 7L18 8.4L10 16.4Z" fill="white"/>
								</svg>
							p.checkbox__text Я даю согласие на обработку персональных данных
					button.form__button.button.button--dark Заказать звонок
				.callback-form__footer
					img(src="/assets/img/icon-chats.svg", alt="")
					p.callback-form__text Запишитесь сейчас и получите <br> бесплатную консультацию!
		.callback-column
			.callback-column__teeth-wrapper
				img.callback-column__teeth(src="/assets/img/teeth-flower.svg", alt="")
			img.callback-column__decor(src="/assets/img/callback-decor-01.png", alt="")
			a(href="#").contact
				.contact__icon
					img(src="/assets/img/gradient-icon-phone.svg")
				.contact__column
					p.contact__title +7 (495) 374 92 82
					p.contact__subtitle Каждый день с 9:00 до 21:00
			img(src="/assets/img/logo-ru.svg", alt="").callback-column__logo
