include ../_mixins.pug

section.section.detail-description-service
	.container
		+sectionHeader('calculator','Детальное описание')
		.detail-description-service__body
			.detail-description-service__preview
				label.review-preview-images.review-preview-images--vertical
					input(type="range" min="0" max="100" value="50").review-preview-images__progress
					.review-preview-images__container.review-preview-images__container--before
						p.review-preview-images__label До
						img.review-preview-images__img(src="/assets/img/review-teeth-before.jpg", alt="")
					.review-preview-images-divider
						.review-preview-images-divider__thumb
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10 3.33325L5.33333 7.99992L10 12.6666" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.99967 8.66659C6.36786 8.66659 6.66634 8.36811 6.66634 7.99992C6.66634 7.63173 6.36786 7.33325 5.99967 7.33325C5.63148 7.33325 5.33301 7.63173 5.33301 7.99992C5.33301 8.36811 5.63148 8.66659 5.99967 8.66659Z" stroke="#919191" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5.99967 4.00008C6.36786 4.00008 6.66634 3.7016 6.66634 3.33341C6.66634 2.96522 6.36786 2.66675 5.99967 2.66675C5.63148 2.66675 5.33301 2.96522 5.33301 3.33341C5.33301 3.7016 5.63148 4.00008 5.99967 4.00008Z" stroke="#919191" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5.99967 13.3333C6.36786 13.3333 6.66634 13.0349 6.66634 12.6667C6.66634 12.2985 6.36786 12 5.99967 12C5.63148 12 5.33301 12.2985 5.33301 12.6667C5.33301 13.0349 5.63148 13.3333 5.99967 13.3333Z" stroke="#919191" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M9.99967 8.66659C10.3679 8.66659 10.6663 8.36811 10.6663 7.99992C10.6663 7.63173 10.3679 7.33325 9.99967 7.33325C9.63148 7.33325 9.33301 7.63173 9.33301 7.99992C9.33301 8.36811 9.63148 8.66659 9.99967 8.66659Z" stroke="#919191" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M9.99967 4.00008C10.3679 4.00008 10.6663 3.7016 10.6663 3.33341C10.6663 2.96522 10.3679 2.66675 9.99967 2.66675C9.63148 2.66675 9.33301 2.96522 9.33301 3.33341C9.33301 3.7016 9.63148 4.00008 9.99967 4.00008Z" stroke="#919191" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M9.99967 13.3333C10.3679 13.3333 10.6663 13.0349 10.6663 12.6667C10.6663 12.2985 10.3679 12 9.99967 12C9.63148 12 9.33301 12.2985 9.33301 12.6667C9.33301 13.0349 9.63148 13.3333 9.99967 13.3333Z" stroke="#919191" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 3.33325L10.6667 7.99992L6 12.6666" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
					.review-preview-images__container.review-preview-images__container--after
						p.review-preview-images__label После
						img.review-preview-images__img(src="/assets/img/review-teeth-after.jpg", alt="")
			.detail-description-service__card
				p.detail-description-service__title Профилактика и гигиена
				p.detail-description-service__text KOSMIDENT предлагает полный спектр стоматологических услуг. Обратившись к нам, Вы можете рассчитывать не только на лечение зубов или выполнение сложных операций. Мы активно проводим и профилактические процедуры. Специалисты весьма преуспели в том, чтобы обеспечить их эффективность, комфорт проведения. Отличным результатам способствует также индивидуальный подход, забота и внимание по отношению к каждому пациенту.
				p.detail-description-service__text Мы активно проводим и профилактические процедуры. Специалисты весьма преуспели в том, чтобы обеспечить их эффективность, комфорт проведения. Отличным результатам способствует также индивидуальный подход, забота и внимание по отношению к каждому пациенту.
