include ../_mixins.pug

section.section.doctors
	.container
		+sectionHeader(false,'Все врачи')
		.doctors__grid
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
			+doctorCard('Болховский Ян Вячеславович', 'Главный врач клиники, врач стоматолог хирург-имплантолог', '1389', '10 лет — стаж')
