include ../_mixins.pug

section.section.doctor
	.container
		.doctor__container
			.doctor-aside
				img.doctor-aside__img(src="/assets/img/doctor-01.jpg")
				.doctor-aside__footer
					.cta-banner.cta-banner--white
						img(src="/assets/img/icon-chats.svg", alt="")
						| Запишитесь сейчас и получите бесплатную консультацию!
					.doctor-aside__buttons
						button.button.button--dark(data-modal-open="registrationToReceptionForm") Записаться на прием
						button.button.button--outline
							| Смотреть видео
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.00314 10.0053L5.00314 12.2303C5.00314 14.9886 6.96147 16.1219 9.35314 14.7386L11.2781 13.6219L13.2031 12.5053C15.5948 11.1219 15.5948 8.86358 13.2031 7.48025L11.2781 6.36358L9.35314 5.24692C6.96147 3.88858 5.00314 5.01358 5.00314 7.78025V10.0053Z" fill="#6149AB" stroke="#6149AB" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>

			.doctor-info
				.doctor-info__header
					p.doctor-info__job Главный врач клиники, врач стоматолог хирург-имплантолог
					p.doctor-info__title Болховский Ян Вячеславович
				.doctor-info__column
					.doctor-info__row
						p.doctor-info__row-title Опыт работы
						p.doctor-info__row-text.doctor-info__row-text--bold 10 лет
					.doctor-info__row
						p.doctor-info__row-title Образование
						.doctor-info__row-column
							p.doctor-info__row-text.doctor-info__row-text--bold ГОУ ВПО “Российский Университет дружбы народов” (РУДН) - Присуждена квалификация Врач по специальности “Стоматологоя”
							p.doctor-info__row-text.doctor-info__row-text--bold 6 месяцев от операции и временных до изготовления постоянных. От операции и временных до изготовления постоянных
							p.doctor-info__row-text.doctor-info__row-text--bold ГОУ ВПО “Российский Университет дружбы народов” (РУДН) - Присуждена квалификация Врач по специальности “Стоматологоя”
							p.doctor-info__row-text.doctor-info__row-text--bold 6 месяцев от операции и временных до изготовления постоянных. От операции и временных до изготовления постоянных
							p.doctor-info__row-text.doctor-info__row-text--bold ГОУ ВПО “Российский Университет дружбы народов” (РУДН) - Присуждена квалификация Врач по специальности “Стоматологоя”
					.doctor-info__row
						p.doctor-info__row-title Довольных клиентов
						p.doctor-info__row-text.doctor-info__row-text--bold 1389
					hr.doctor-info__divider
					.doctor-info__row
						p.doctor-info__row-title О враче
						p.doctor-info__row-text Стоматолог с 15-летним опытом, окончил Московский государственный медицинский университет. Специализируется на эстетической стоматологии и имплантологии. Владеет современными методами лечения и регулярно повышает квалификацию на международных конференциях. Ведет частную практику в Москве, известен своим внимательным подходом к пациентам и высоким стандартам качества. В свободное время увлекается теннисом и путешествиями.
					.doctor-info__row
						p.doctor-info__row-title Сертификаты
						.doctor-info__row-column
							.doctor-info__navigation
								.swiper-doctor-prev.swiper-button-prev
									<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M25.667 16H6.33366M6.33366 16L11.0003 11.3334M6.33366 16L11.0003 20.6667" stroke="#6149AB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								.swiper-doctor-next.swiper-button-next
									<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6.33301 16H25.6663M25.6663 16L20.9997 11.3334M25.6663 16L20.9997 20.6667" stroke="#6149AB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
							.swiper.doctor-swiper
								.swiper-wrapper
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
									.swiper-slide.doctor-swiper__slide
										img(src="/assets/img/doctor-01.jpg", alt="")
