include ../_mixins.pug
mixin faq(title, text)
	.faq
		.faq__header
			p.faq__title= title
			button.faq__button
		.faq__wrapper
			.faq__content
				p.faq__text= text

section.section.faqs
	.container
		+sectionHeader('message-question','Часто задаваемые вопросы')
		.faqs__row
			.faqs__column
				+faq('Как часто нужно посещать стоматолога для профилактического осмотра?', 'Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры. Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры.')
				+faq('Принимает ли ваша клиника страховые полисы?', 'Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры. Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры.')
				+faq('Какие услуги предоставляет ваша клиника?', 'Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры. Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры.')
				+faq('Как часто нужно посещать стоматолога для профилактического осмотра?', 'Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры. Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры.')
				+faq('Принимает ли ваша клиника страховые полисы?', 'Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры. Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры.')
				+faq('Какие услуги предоставляет ваша клиника?', 'Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры. Опишите основные услуги, такие как лечение кариеса, профессиональная чистка зубов, ортодонтия, имплантация и другие стоматологические процедуры.')
			.faqs-banner
				img.faqs-banner__img(src="/assets/img/faq-decor-01.png", alt="")
				img.faqs-banner__logo(src="/assets/img/logo-ru.svg", alt="")
				.faqs-banner__info
					p.faqs-banner__title Запишитесь сейчас и получите бесплатную консультацию!
					button.button.button--dark Записаться
				.faqs-banner__socials
					a.faqs-banner__social(href="#")
						img(src="/assets/img/gradient-icon-whatsapp.svg", alt="")
					a.faqs-banner__social(href="#")
						img(src="/assets/img/gradient-icon-telegram.svg", alt="")
