include ../_mixins.pug

section.section.routing
	.container
		+sectionHeader('routing','Как к нам дойти')
		.routing-card
			.routing-card__column
				p.routing-card__title КОСМИДЕНТ на Яндекс.Картах
				p.routing-card__text Выход №2 из м. Покровская улица. Далее двигайтесь вдоль ТЦ “Некрасовка” в сторону ул. Недорубова. Перейдите ее, далее идите через сквер, мимо спортивной площадки в сторону ул. Вертолетчиков. Старайтесь держаться левее. Клиника “Добрый доктор” находится в доме №11, он будет с левой стороны.
				img(src="/assets/img/contacts-01.png", alt="").routing-card__img
			.routing-card__column
				p.routing-card__title Схема пешего маршрута от м. Некрасовка
				p.routing-card__text Выход №2 из м. Покровская улица. Далее двигайтесь вдоль ТЦ “Некрасовка” в сторону ул. Недорубова. Перейдите ее, далее идите через сквер, мимо спортивной площадки в сторону ул. Вертолетчиков. Старайтесь держаться левее. Клиника “Добрый доктор” находится в доме №11, он будет с левой стороны.
				img(src="/assets/img/contacts-02.png", alt="").routing-card__img
