include ../_mixins.pug

section.section.service-price
	.container
		+sectionHeader('calculator','Цены на услуги')
		.service-price-table__wrapper
			.service-price-table
				.service-price-table__header
					p.service-price-table__header-title Наименование услуги
					p.service-price-table__header-title Описание
					p.service-price-table__header-title Стоимость
				.service-price-table__row
					p.service-price-table__title Восстановление зубного ряда по технологии ALL-On-4
					p.service-price-table__text Отличным результатам способствует также индивидуальный подход, забота и внимание по отношению к каждому пациенту.
					p.service-price-table__price 168 000 р.
				.service-price-table__row
					p.service-price-table__title Восстановление зубного ряда по технологии ALL-On-4
					p.service-price-table__text Без описания.
					p.service-price-table__price 168 000 р.
				.service-price-table__row
					p.service-price-table__title Восстановление зубного ряда по технологии ALL-On-4
					p.service-price-table__text Отличным результатам способствует также индивидуальный подход, забота и внимание по отношению к каждому пациенту.
					p.service-price-table__price 168 000 р.
				.service-price-table__row
					p.service-price-table__title Восстановление зубного ряда по технологии ALL-On-4
					p.service-price-table__text Отличным результатам способствует также индивидуальный подход, забота и внимание по отношению к каждому пациенту.
					p.service-price-table__price 168 000 р.
				.service-price-table__row
					p.service-price-table__title Восстановление зубного ряда по технологии ALL-On-4
					p.service-price-table__text Без описания.
					p.service-price-table__price 168 000 р.
		button.button.button--dark.service-price__button(data-modal-open="registrationToReceptionForm") Записаться на прием
