html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, viewport-fit=cover')
		title Kosmident
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
		link(rel='stylesheet' type='text/css' href='assets/css/style.css')
		script(src="https://api-maps.yandex.ru/2.1/?apikey=83d86897-0ad1-4050-8276-1b20500c3636&lang=en_US" type="text/javascript")
	body
		.global-wrapper
			include _mixins
			block header
				include _header
			block main
				main.main
					block content
			block footer
				include _footer
		.modal-container
			.modal-container__wrapper
				.modal.modal-registration#successForm
					button.modal__close
						<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.7007 22.6667L9.83398 20.8L14.634 16L9.83398 11.2334L11.7007 9.3667L16.5007 14.1667L21.2673 9.3667L23.134 11.2334L18.334 16L23.134 20.8L21.2673 22.6667L16.5007 17.8667L11.7007 22.6667Z" fill="#6149AB"/>
						</svg>
					p.modal__title Отправлено
					p.modal__text В скором времени мы перезвоним вам!
					img(src="../assets/img/success-form.svg", alt="").modal__img
					button.modal-registration__form.button.button--dark(data-modal-close) Закрыть
				.modal.modal-registration#errorForm
					button.modal__close
						<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.7007 22.6667L9.83398 20.8L14.634 16L9.83398 11.2334L11.7007 9.3667L16.5007 14.1667L21.2673 9.3667L23.134 11.2334L18.334 16L23.134 20.8L21.2673 22.6667L16.5007 17.8667L11.7007 22.6667Z" fill="#6149AB"/>
						</svg>
					p.modal__title Произошла ошибка!
					p.modal__text Не удалось отправить данные, попробуйте снова.
					button.modal-registration__form.button.button--dark(data-modal-close) Закрыть
				.modal.modal-registration#registrationToReceptionForm
					button.modal__close
						<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.7007 22.6667L9.83398 20.8L14.634 16L9.83398 11.2334L11.7007 9.3667L16.5007 14.1667L21.2673 9.3667L23.134 11.2334L18.334 16L23.134 20.8L21.2673 22.6667L16.5007 17.8667L11.7007 22.6667Z" fill="#6149AB"/>
						</svg>
					p.modal__title Записаться на прием
					p.modal__text Мы свяжемся с вами в ближайшее время
					form.modal-registration__form#formRegistrationToReception
						input(type="text" required placeholder="Ваше имя*").input
						input(type="tel" required placeholder="Номер телефона*").input
						.dropdown
							.dropdown__header
								input(type="text" required placeholder="Выберите услугу").dropdown__input
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.4336 6.81659H10.2419H5.56695C4.76695 6.81659 4.36695 7.78326 4.93361 8.34992L9.25028 12.6666C9.94195 13.3583 11.0669 13.3583 11.7586 12.6666L13.4003 11.0249L16.0753 8.34992C16.6336 7.78326 16.2336 6.81659 15.4336 6.81659Z" fill="#919191"/>
								</svg>
							.dropdown__list
								button(type="button").dropdown__list-item Хирургия
								button(type="button").dropdown__list-item Имплантация зубов
								button(type="button").dropdown__list-item Протезирование зубов
								button(type="button").dropdown__list-item Профилактика и гигиена

						label.checkbox
							input.checkbox__input(type="checkbox" required)
							.checkbox__box
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 16.4L6 12.4L7.4 11L10 13.6L16.6 7L18 8.4L10 16.4Z" fill="white"/>
								</svg>
							p.checkbox__text Я даю согласие на обработку персональных данных
						button.modal-registration__button.button.button--dark Записаться на прием
				block modals
		.cookies
			.container
				.cookies__container
					.cookies__header
						.cookies__icon
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1166 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.75 2.24167 9.52498 2.725 8.32498C3.20833 7.12498 3.88333 6.05414 4.75 5.11248C5.61667 4.17081 6.65833 3.41248 7.875 2.83748C9.09167 2.26248 10.425 1.97498 11.875 1.97498C12.225 1.97498 12.5833 1.99164 12.95 2.02498C13.3167 2.05831 13.6917 2.11664 14.075 2.19998C13.925 2.94998 13.975 3.65831 14.225 4.32498C14.475 4.99164 14.85 5.54581 15.35 5.98748C15.85 6.42914 16.4458 6.73331 17.1375 6.89998C17.8292 7.06664 18.5417 7.02498 19.275 6.77498C18.8417 7.75831 18.9042 8.69998 19.4625 9.59998C20.0208 10.5 20.85 10.9666 21.95 11C21.9667 11.1833 21.9792 11.3541 21.9875 11.5125C21.9958 11.6708 22 11.8416 22 12.025C22 13.3916 21.7375 14.6791 21.2125 15.8875C20.6875 17.0958 19.975 18.1541 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.5 9.99998C10.9167 9.99998 11.2708 9.85414 11.5625 9.56248C11.8542 9.27081 12 8.91664 12 8.49998C12 8.08331 11.8542 7.72914 11.5625 7.43748C11.2708 7.14581 10.9167 6.99998 10.5 6.99998C10.0833 6.99998 9.72917 7.14581 9.4375 7.43748C9.14583 7.72914 9 8.08331 9 8.49998C9 8.91664 9.14583 9.27081 9.4375 9.56248C9.72917 9.85414 10.0833 9.99998 10.5 9.99998ZM8.5 15C8.91667 15 9.27083 14.8541 9.5625 14.5625C9.85417 14.2708 10 13.9166 10 13.5C10 13.0833 9.85417 12.7291 9.5625 12.4375C9.27083 12.1458 8.91667 12 8.5 12C8.08333 12 7.72917 12.1458 7.4375 12.4375C7.14583 12.7291 7 13.0833 7 13.5C7 13.9166 7.14583 14.2708 7.4375 14.5625C7.72917 14.8541 8.08333 15 8.5 15ZM15 16C15.2833 16 15.5208 15.9041 15.7125 15.7125C15.9042 15.5208 16 15.2833 16 15C16 14.7166 15.9042 14.4791 15.7125 14.2875C15.5208 14.0958 15.2833 14 15 14C14.7167 14 14.4792 14.0958 14.2875 14.2875C14.0958 14.4791 14 14.7166 14 15C14 15.2833 14.0958 15.5208 14.2875 15.7125C14.4792 15.9041 14.7167 16 15 16Z" fill="white"/>
							</svg>
						p.cookies__title Мы используем файлы cookie
					p.cookies__text Этот сайт использует cookie для хранения данных. <br> Продолжая использовать сайт, Вы даете согласие на работу с этими данными.
					button.button.button--outline Хорошо
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	script(src='assets/scripts/inputmask.min.js')
	script(src='assets/scripts/script.js' type="module")
	<script>
	</script>
