extends _layout

block content
	include blocks/_services-block
	include blocks/_doctors-block
	include blocks/_reviews-block
	include blocks/_articles-block
	include blocks/_callback-block
	include blocks/_about-block
